#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

#list {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: '#fff';
}
#wrapper {
  margin-left: 10%;
  margin-top: 5%;
  width: 80%;
  height: 80%;
}
#sight {
  font-size: 20pt;
  height: 1em;
  width: 1em;
  line-height: 1em;
  position: relative;
  top: calc(-50% - 0.5em);
  left: calc(50% - 0.5em);
  display: flex;
  justify-content: center;
  align-self: center;
}

#location_picker_dialog {
  width: 80%;
  height: 80%;
  max-width: 80vw;
  padding: 1em;
}

#map_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#map {
  width: 100%;
  flex: 1;
}

.map-head {
  position: absolute;
  z-index: 10;
  top: 1em;
  left: 1em;
}

.map_bottom {
  position: relative;
  top: -6em;
}

#set-location {
  display: inline-block;
  width: 6em;
  background-color: #fff;
  border: 2px solid gray;
  border-radius: 1em;
  color: gray;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}